<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main EJS</title>
  </head>
  <body>
    <h1>main ejs</h1>
    <div class="1"><%= h1 %></div>
  </body>
</html>
